.card-header {
    color: #fff;
    border-bottom: 1px solid #777;
}

.card {
    border: 1px solid #777;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    height: 100%;
    min-height: 80vh;
}