.totals-input {
    padding: 10px;
}
.totals-container  h2{
    font-size: calc(14px + 1.8vw) !important;
    

}

.totals-container h2, p{
 font-size: calc(13px + 1.2vw);
 margin-bottom: -10px;
}

.form-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    gap: 3px;

    
}

.form-buttons button {
    padding: 10px;
    font-size: calc(11px + 0.390625vw);

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .centered {
    grid-column: 2; /* Place the element in the second column (center) */
    background-color: blueviolet;

  }
    .centered:hover {
    background-color: rgb(110, 34, 180);
    
  }