@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  width: 85%;
  max-width: 500px;
}
.hero-img {
  width: 100%;
  height: 50vh;
  background: url('https://thejewelerblog.files.wordpress.com/2022/11/beatlesanna1.jpg');
  background-size: 100%;
  margin-bottom: 2rem;
  

  background-position: center;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
    font-weight: bold;
    color: #0077c8;
    text-shadow: 1px 1px 3px #000;
    text-align: center;

}
h2 {
  font-family: 'Montserrat', sans-serif; /*Cool free font*/
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #0077C8; /*Modern color*/
}

input[type="text"] {
  margin: 10px 10px 10px 0;
  padding: 12px 20px;
  border: none;
box-shadow: inset 0px 0px 0px 1px #888;
  border-radius: 4px;
  font-size: 18px;
  transition: border-bottom 0.3s ease;
}

input[type="text"]:focus {
  box-shadow: inset 0px 0px 0px 1px skyblue;
  
}
* {
  font-family: 'Inter';
}

button {
  margin: 10px 0;
  padding: 12px 20px;
  background-color: #00b0ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0091ea;
}

div {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

}

.totals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 400;
}

.inile-flex {
  display: flex;
  width: 200px;
  justify-content: space-around;

}

.coin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.coin {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ccc;
  position: relative;
  transition: transform 0.5s;
  box-shadow: 0 0 0 10px #fff;

}

input[type="radio"] {
margin: 15px 20px 0 20px;

  -webkit-transform: scale(2);
  transform: scale(2);
}

label {
  font-family: 'Inter';
  color: #0077c8;

  text-align: center;
}




.flipping {
  transform: rotateY(180deg);
  animation: flipCoin 1s ease-in-out;
}

@keyframes flipCoin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}



/* App.css (or a separate custom CSS file) */

/* Reset some default styles for lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Main styles for the navigation bar */
.navbar {

  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 5px auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
}

/* Style for the navigation links */
.nav-link {
  text-decoration: none;
  color: #00b0ff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: calc(12px + 0.35666vw);
}

.nav-link:hover {
  background-color: #ddd;
}

.doggy-style {
width: 600px;
 height: 600px;
  border-radius: 100%;
}

@media only screen and (max-width: 600px){
  .doggy-style {
    width: 350px;
     height: 350px;

    }
}